.matchCardd {
  /* Quitamos width: 20rem; para que ocupe el 100% de la columna */
  /* width: 20rem; */

  /* Altura automática para respetar el contenido */
  height: auto;
  border: 2px solid rgb(255, 255, 255); /* borde sutil en vez de blanco puro */
  color: white;

  /* Gradiente diagonal en tonos neón */
  background: linear-gradient(
    135deg,
    #72e1ff,
    #ef9af1
  );
}
