@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


.navbarHome-font {
    font-family: 'Audiowide', sans-serif;
    color: #ffffff !important;
    
}
.nabarHome-font-shadow{
    text-shadow:
    0 1.5px 0 #0088fe, 
    0 1.5px 1.5px #0088fe; 
}
.fixed-height-navbarHome {
  height: 60px;
  padding: 0 1rem;
  overflow: hidden;
}
.logo-navbarHome {
  width: 60px;
  height: auto;
  object-fit: contain;
}

.navbarHome-start-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 10px 20px;
  background-color: black;
}

/* .start-text {
  font-family: 'Audiowide', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 0 2px 2px #00aaff, 0 4px 6px #0077ff;
  position: relative;
  z-index: 2;
} */

.navbarHome-line {
  width: 85%;
  height: 2px;
  position: relative;
}

.navbarHome-top-line {
  background: linear-gradient(to right, #00DDFF, #00DDFF);
}

.navbarHome-bottom-line {
  background: linear-gradient(to right, #A41EF1, #A41EF1);
}

.navbarHome-top-line:before,
.navbarHome-bottom-line::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}

.navbarHome-top-line::before {
  left: -7px; /* Mueve el triángulo a la izquierda */
  border-width: 5px 0 5px 10px; /* Triángulo apuntando a la derecha */
  border-color: transparent transparent transparent #00DDFF;
}

.navbarHome-bottom-line::after {
  right: -7px; /* Ya está en el lado izquierdo, se mantiene igual */
  border-width: 5px 10px 5px 0; /* Triángulo apuntando a la izquierda */
  border-color: transparent #A41EF1 transparent transparent;
}
