.text-footer{
    color: white;
}

.social-media-icon {
	width: 55px;
	height: 55px;
   
}

/* Pantalla pequeña */
@media (max-width: 767px) {

.social-media-icon {
	width: 35px;
	height: 35px;
	margin-bottom: 0.5rem;
}
.footer-text-size h5 {
    font-size: 1rem;
   
}
}